body {
	margin: 0;
}
section h1 {
	padding: 1rem 0;
	word-break: normal;
	font-weight: bold;
}
section .writeday {
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #cfcfcf;
}
section .writeday i {
	color: #000;
}
.writeday span small {
	padding-right: 1rem;
}
section div small {
	font-weight: bold;
}
.content {
	padding: 2rem 0;
}
.line {
	border-bottom: 3px solid #707070;
}
h6 {
	padding: 1rem 0 1rem 1rem;
	margin-bottom: 0 !important;
	font-weight: bold !important;
	background-color: #f3f3f3;
}
.comment {
	padding: 0 1rem 5rem 1rem;
}
.comment ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.comment ul li {
	border-bottom: 1px solid #cfcfcf;
	padding: 0.4rem 1rem;
}
.comment ul li div {
	padding-bottom: 0.1rem;
	display: flex;
	justify-content: space-between;
}
.comment .comment-more {
	padding-top: 2rem;
	text-align: center;
}
.comment div #more-comment {
	font-weight: bold;
	border-radius: 10px;
	padding: 0.5rem;
	background-color: #f3f3f3;
	color: #707070;
}
#edit-comment {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	line-height: 1rem;
	background-color: #fff;
	border-top: 2px solid #b4b4b4;
	padding: 5px 0.5rem 5px 0;
}
#edit-comment input {
	width: 70%;
}
#edit-comment #create-comment {
	background-color: #8283a7;
	border: 1px solid #8283a7;
	width: 20%;
}
#edit-comment #edit-comment-close {
	width: 10%;
	color: #50528e;
	text-align: center;
	padding: 1rem 0;
}
/* 로딩*/
#loading {
	height: 100%;
	left: 0px;
	position: fixed;
	_position: absolute;
	top: 0px;
	width: 100%;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.loading {
	background-color: white;
	z-index: 199;
}
#loading_img {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 35px;
	margin-top: -75px; /* 이미지크기 */
	margin-left: -75px; /* 이미지크기 */
	z-index: 200;
}
