footer nav {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f3f3f3;
	border-top: 2px solid #b4b4b4;
	border-bottom: 2px solid #b4b4b4;
}
footer nav div {
	position: relative;
	display: flex;
	width: 100%;
	margin: 0 auto;
}
footer nav div span {
	display: inline-block;
	text-align: center;
	line-height: 60px;
	height: 56px;
	float: left;
	color: #cfcfcf;
}

footer nav div a {
	text-decoration: none;
	flex: 1;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	height: 60px;
	float: left;
	color: #b4b4b4;
}
